.mymain 
{
 display: flex;
 align-items: center;
}

.homeContainer
{
 display: flex;
 flex-direction: column;

 background-blend-mode: multiply; /* this will blend the background image with the blur effect */
 backdrop-filter: blur(10px); 
 -webkit-backdrop-filter: blur(10px);

 text-align: center;
 justify-content: space-around;

 border: 2px solid black;

 width: 400px;

 height: 500px;

 background: blure;
}

.welcomeContainer
{
 font-family: Arial;
 font-size: 30px;
}

.logSignContainer
{
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.signLog
{
 padding: 0px 30px;

 background-color: transparent;
 border: none;
  
 text-align: center;

 font-size: 14px;
 cursor: pointer;
}
